# Actividad - Trabajando con Series de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: actividad_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

### **Actividad 1:** 

Crear Series desde diferentes estructuras.
* Crea una Series con los números del 1 al 5
* Crea una Series a partir de un diccionario con nombres de países como claves y sus capitales como valores.

In [3]:
from pandas import Series

In [4]:

# todo:

lista = [1,2,3,4,5]

serie_uno = Series(lista)
serie_uno

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
dicc_paises = { 
    "Noruega": "Oslo",
    "Egipto": "El Cairo",
    "Nueva Zelanda": "Wellington",
    "India": "Nueva Delhi",
    "Canadá": "Ottawa"
}

serie_dos = Series(dicc_paises)
serie_dos

Noruega                 Oslo
Egipto              El Cairo
Nueva Zelanda     Wellington
India            Nueva Delhi
Canadá                Ottawa
dtype: object

### **Actividad 2:** 
Acceso y selección de elementos.
* Usa una Series con tareas (que haceres cotidianos) de una semana
* Accede a diferentes elementos a elección.
* Cambia los valores de los dias pares.

In [7]:

# todo:

dic_tareas = { 
    "Lunes": "Ir al super",
    "Martes": "Estudiar matemáticas", 
    "Miercoles": "Estar en familia", 
    "Jueves": "Pasear al perro", 
    "Viernes": "Ordenar mi cuarto", 
    "Sábado": "Jugar jueguitos", 
    "Domingo": "Preparar comida para la semana"
}

serie_tres = Series(dic_tareas)
serie_tres

Lunes                           Ir al super
Martes                 Estudiar matemáticas
Miercoles                  Estar en familia
Jueves                      Pasear al perro
Viernes                   Ordenar mi cuarto
Sábado                      Jugar jueguitos
Domingo      Preparar comida para la semana
dtype: object

In [8]:
print(serie_tres["Sábado"])
print(serie_tres["Martes"])
print(serie_tres["Domingo"])

Jugar jueguitos
Estudiar matemáticas
Preparar comida para la semana

In [9]:
serie_tres["Martes"] = "Limpiar la pieza"
serie_tres["Jueves"] = "Hacer tarea"
serie_tres["Sábado"] = "Dormir"

print(serie_tres["Martes"])
print(serie_tres["Jueves"])
print(serie_tres["Sábado"])

Limpiar la pieza
Hacer tarea
Dormir

### **Actividad 3:**
Operaciones aritméticas. 
* Realiza las operaciones basicas con 2 series cuales quieran.
* Eleva los valores de la primer serie a 3 potencias difetentes.

In [14]:
# todo:

serie_cuatro = Series([1,2,3,4,5])
serie_cinco = Series([6,7,8,9,10])


# * Operaciones

print(serie_cuatro + 1)
print(serie_cinco * 2)

0    2
1    3
2    4
3    5
4    6
dtype: int64
0    12
1    14
2    16
3    18
4    20
dtype: int64

In [15]:
print(serie_uno ** 2)
print(serie_uno ** 4)
print(serie_uno ** 6)

0     1
1     4
2     9
3    16
4    25
dtype: int64
0      1
1     16
2     81
3    256
4    625
dtype: int64
0        1
1       64
2      729
3     4096
4    15625
dtype: int64

### **Actividad 4:** 
Filtrado con condiciones.
* Crea una Series de edades de 10 personas.
* Muestra solo a los mayores de 18.
* Reemplaza a los menores por "Menor de edad".

In [16]:

# todo:

dic_edades = {
     "Camila": 23,
    "Tomás": 30,
    "Bruno": 25,
    "Valentina": 18,
    "Ignacio": 21,
    "Renata": 26,
    "Santiago": 17,
    "Jazmín": 15,
    "Franco": 11,
    "Lola": 7,
    "Thiago": 13
}

serie_seis = Series(dic_edades)
serie_seis

Camila       23
Tomás        30
Bruno        25
Valentina    18
Ignacio      21
Renata       26
Santiago     17
Jazmín       15
Franco       11
Lola          7
Thiago       13
dtype: int64

In [17]:
personas_mayores_18 = serie_seis[serie_seis > 18]
personas_mayores_18

Camila     23
Tomás      30
Bruno      25
Ignacio    21
Renata     26
dtype: int64

In [18]:
personas_etiqueta = serie_seis.where(serie_seis >= 18, "Menor de edad")
personas_etiqueta

Camila                  23
Tomás                   30
Bruno                   25
Valentina               18
Ignacio                 21
Renata                  26
Santiago     Menor de edad
Jazmín       Menor de edad
Franco       Menor de edad
Lola         Menor de edad
Thiago       Menor de edad
dtype: object

### Actividad 5:
Estadísticas básicas.

* Crea una Series con las notas de 10 estudiantes.
* Calcula la media, mediana, desviación estándar y máximo.
* Muestra cuántos estudiantes aprobaron si el mínimo para aprobar es 6.
* Ordenar las notas de manera ascendente y descendente.

In [19]:

# todo:

dic_notas ={
    "Valeria": 7,
    "Nicolás": 6,
    "Emilia": 10,
    "Facundo": 9,
    "Julieta": 5,
    "Martín": 8,
    "Camila": 6,
    "Agustín": 7,
    "Olivia": 9,
    "Lucas": 8
}

serie_siete = Series(dic_notas)
serie_siete

Valeria     7
Nicolás     6
Emilia     10
Facundo     9
Julieta     5
Martín      8
Camila      6
Agustín     7
Olivia      9
Lucas       8
dtype: int64

In [20]:
media = serie_siete.mean()
mediana = serie_siete.median()
std = serie_siete.std()
maximo = serie_siete.max()


print(f"La media es {media}")
print(f"La mediana es {mediana}")
print(f"La desviación estandard es {std}")
print(f"El valor máximo es {maximo}")

La media es 7.5
La mediana es 7.5
La desviación estandard es 1.5811388300841898
El valor máximo es 10

In [21]:
aprobados = serie_siete[serie_siete >= 6]
aprobados

Valeria     7
Nicolás     6
Emilia     10
Facundo     9
Martín      8
Camila      6
Agustín     7
Olivia      9
Lucas       8
dtype: int64

In [22]:
cant_aprobados = (serie_siete >=6).sum()
print(f"cantidad de estudiantes aprobados: {cant_aprobados}")

cantidad de estudiantes aprobados: 9

In [23]:

# * Ascendente

notas_ascendente = serie_siete.sort_values()
notas_ascendente

Julieta     5
Nicolás     6
Camila      6
Valeria     7
Agustín     7
Martín      8
Lucas       8
Facundo     9
Olivia      9
Emilia     10
dtype: int64

In [36]:
# * Descendente

notas_descendente = serie_siete.sort_values(ascending = False)
notas_descendente

Lautaro    10
Pedro       9
Sofia       9
María       8
Juan        8
Laia        8
Diego       8
Miguel      7
Karen       6
Pablo       5
dtype: int64